<footer class="footer">
  <div class="footer__wrap">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="{{destination}}company.html">{{ lang === 'uk' ? 'Компанія' : 'Компания' }}</a>
        </li>
        <li class="footer__nav-item">
          <a href="{{destination}}products/">{{ lang === 'uk' ? 'Продукція' : 'Продукция' }}</a>
        </li>
        <li class="footer__nav-item">
          <a href="{{destination}}services.html">{{ lang === 'uk' ? 'Послуги' : 'Услуги' }}</a>
        </li>
        <li class="footer__nav-item">
          <a class="modal__link" href="#">{{ lang === 'uk' ? "Зворотній зв`язок" : 'Обратная связь' }}</a>
        </li>
      </ul>
    </nav>
    <div class="footer__info">
      <p class="footer__info-text footer__info-text--title">{{ lang === 'uk' ? 'ТОВ «Вуглемеханізація-МАТО»' : 'ООО «Углемеханизация-МАТО»' }}</p>
      <p class="footer__info-text">03680, {{ lang === 'uk' ? 'м. Київ, вул. Академіка Кримського' : 'г. Киев, ул. Академика Крымского' }}, 27А</p>
      <a class="footer__info-link" href="tel:+380504711588">+38 (050) 471-15-88</a>
      <a class="footer__info-link" href="tel:+380504751605">+38 (050) 475-16-05</a>
      <a class="footer__info-link" href="mailto:uglemehh@gmail.com">uglemehh@gmail.com</a>
    </div>
    <p class="footer__copyright">© {{ lang === 'uk' ? 'Вуглемеханізація-МАТО, 2020. Всі торгові марки належать їх власникам' : 'Углемеханизация-МАТО, 2020. Все торговые марки принадлежат их владельцам' }}.</p>
  </div>
</footer>
