<div class="header__wrap">
  <div class="header__logo header__logo--1">
    <a href="{{destination}}{{ lang === 'uk' ? '' : 'ru/' }}index.html">
      <picture>
        <!--source type="image/webp" srcset="{{destination}}img/{{ lang === 'uk' ? 'logo' : 'logo-ru' }}@1x.webp, {{destination}}img/{{ lang === 'uk' ? 'logo' : 'logo-ru' }}@2x.webp 2x"-->
        <img class="header__logo-image" src="{{destination}}img/{{ lang === 'uk' ? 'logo' : 'logo-ru' }}-mobile@1x.png" srcset="{{destination}}img/{{ lang === 'uk' ? 'logo' : 'logo-ru' }}-mobile@2x.png 2x" width="280" height="53" alt="Вуглемеханізація-МАТО">
      </picture>
    </a>
  </div>
  <p class="header__text header__text--tel">
    <a href="tel:+380504711588">+38 (050) 471-15-88</a>
    <a href="tel:+380504751605">+38 (050) 475-16-05</a>
  </p>
  <p class="header__text header__text--mail">
    <a href="mailto:uglemehh@gmail.com">uglemehh@gmail.com</a>
  </p>
</div>
