<nav class="nav nav--nojs">
  <button class="nav__toggle toggle" type="button">
    <span class="visually-hidden">Меню</span>
    <div class="toggle__line"></div>
  </button>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="{{destination}}company.html">{{ lang === 'uk' ? 'Компанія' : 'Компания' }}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="{{destination}}products/belt-maintenance/">{{ lang === "uk" ? "Системи з`єднувачів конвеєрної стрічки" : "Системы соединителей конвеерной ленты" }}</a>
      <ul class="nav__sublist">
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/belt-maintenance/light-tensile">{{ lang === 'uk' ? 'Для легких стрічок' : 'Для легких лент' }}</a>
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/belt-maintenance/high-tensile">{{ lang === 'uk' ? 'Для важких стрічок' : 'Для тяжелых лент' }}</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" class="nav__link" href="{{destination}}products/lubrication-equipment/">{{ lang === 'uk' ? 'Мастильне обладнання' : 'Смазочное оборудование' }}</a>
      <ul class="nav__sublist">
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/lubrication-equipment/hand-tool">{{ lang === 'uk' ? 'Ручний инструмент' : 'Ручной инструмент' }}</a>
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/lubrication-equipment/mechanical-tool">{{ lang === 'uk' ? 'Механічний інструмент' : 'Механический инструмент' }}</a>
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/lubrication-equipment/electric-tool">{{ lang === 'uk' ? 'Електричний інструмент' : 'Электрический инструмент' }}</a>
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/lubrication-equipment/accessories">{{ lang === 'uk' ? 'Аксесуари' : 'Аксессуары' }}</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="{{destination}}services.html">{{ lang === 'uk' ? 'Послуги зі стикування стрічки' : 'Услуги по стыковке ленты' }}</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="{{destination}}products/conveyor-belts/">{{ lang === 'uk' ? 'Конвеєрні стрічки' : 'Конвеерные ленты' }}</a>
      <ul class="nav__sublist">
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/conveyor-belts/pvh">{{ lang === 'uk' ? 'ПВХ стрічки' : 'ПВХ ленты' }}</a>
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/conveyor-belts/bknl">{{ lang === 'uk' ? 'БКНЛ стрічки' : 'БКНЛ ленты' }}</a>
        </li>
        <li class="nav__subitem">
          <a class="nav__sublink" href="{{destination}}products/conveyor-belts/tk">{{ lang === 'uk' ? 'ТК стрічки' : 'ТК ленты' }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
