<section class="main__clients">
  <h2 class="main__clients-h">{{ lang === 'uk' ? 'Наші клієнти' : 'Наши клиенты' }}</h2>
  <ul class="main__clients-list">
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/bukovel@1x.webp 1x, {{destination}}img/bukovel@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/bukovel@1x.jpg" srcset="{{destination}}img/bukovel@2x.jpg 2x" width="70" height="70" alt="Буковель">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/dobreyaice@1x.webp 1x, {{destination}}img/dobreyaice@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/dobreyaice@1x.jpg" srcset="{{destination}}img/dobreyaice@2x.jpg 2x" width="70" height="70" alt="Добре яйце">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/dtek@1x.webp 1x, {{destination}}img/dtek@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/dtek@1x.jpg" srcset="{{destination}}img/dtek@2x.jpg 2x" width="70" height="70" alt="Д.ТЕК">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/jcb@1x.webp 1x, {{destination}}img/jcb@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/jcb@1x.jpg" srcset="{{destination}}img/jcb@2x.jpg 2x" width="70" height="70" alt="JCB">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/jd@1x.webp 1x, {{destination}}img/jd@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/jd@1x.jpg" srcset="{{destination}}img/jd@2x.jpg 2x" width="70" height="70" alt="John Jeere">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/lysoform@1x.webp 1x, {{destination}}img/lysoform@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/lysoform@1x.jpg" srcset="{{destination}}img/lysoform@2x.jpg 2x" width="70" height="70" alt="Lysoform">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/mhp@1x.webp 1x, {{destination}}img/mhp@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/mhp@1x.jpg" srcset="{{destination}}img/mhp@2x.jpg 2x" width="70" height="70" alt="МХП">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/oia@1x.webp 1x, {{destination}}img/oia@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/oia@1x.jpg" srcset="{{destination}}img/oia@2x.jpg 2x" width="70" height="70" alt="Міжнародний аеропорт Одеса">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/ostchem@1x.webp 1x, {{destination}}img/ostchem@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/ostchem@1x.jpg" srcset="{{destination}}img/ostchem@2x.jpg 2x" width="70" height="70" alt="Ostchem">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/ovostar@1x.webp 1x, {{destination}}img/ovostar@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/ovostar@1x.jpg" srcset="{{destination}}img/ovostar@2x.jpg 2x" width="70" height="70" alt="Ovostar">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/porsche@1x.webp 1x, {{destination}}img/porsche@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/porsche@1x.jpg" srcset="{{destination}}img/porsche@2x.jpg 2x" width="70" height="70" alt="Porsche">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/sbk@1x.webp 1x, {{destination}}img/sbk@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/sbk@1x.jpg" srcset="{{destination}}img/sbk@2x.jpg 2x" width="70" height="70" alt="СБК">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/siemens@1x.webp 1x, {{destination}}img/siemens@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/siemens@1x.jpg" srcset="{{destination}}img/siemens@2x.jpg 2x" width="70" height="70" alt="Siemens">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/vetropack@1x.webp 1x, {{destination}}img/vetropack@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/vetropack@1x.jpg" srcset="{{destination}}img/vetropack@2x.jpg 2x" width="70" height="70" alt="Vetropack">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/vyshgora@1x.webp 1x, {{destination}}img/vyshgora@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/vyshgora@1x.jpg" srcset="{{destination}}img/vyshgora@2x.jpg 2x" width="70" height="70" alt="Vyshgora">
      </picture>
    </li>
    <li class="main__clients-item">
      <picture>
        <source type="image/webp" srcset="{{destination}}img/yasensvit@1x.webp 1x, {{destination}}img/yasensvit@2x.webp 2x">
        <img class="main__clients-image" src="{{destination}}img/yasensvit@1x.jpg" srcset="{{destination}}img/yasensvit@2x.jpg 2x" width="70" height="70" alt="Ясенсвіт">
      </picture>
    </li>
  </ul>
</section>
