<section class="main__slider">
  <input class="slider__radio-input visually-hidden" type="radio" id="first-slide" name="slider-radio"  data-index="1" checked>
  <label class="slider__radio-label" for="first-slide"></label>
  <input class="slider__radio-input visually-hidden" type="radio" id="second-slide" name="slider-radio"  data-index="2">
  <label class="slider__radio-label" for="second-slide"></label>
  <input class="slider__radio-input visually-hidden" type="radio" id="third-slide" name="slider-radio"  data-index="3">
  <label class="slider__radio-label" for="third-slide"></label>
  <input class="slider__radio-input visually-hidden" type="radio" id="forth-slide" name="slider-radio"  data-index="4">
  <label class="slider__radio-label" for="forth-slide"></label>
  <ul class="slider">
    <li class="slider__item" data-index="1">
      <a class="slider__link" href="/">
        <h2 class="slider__text">{{ lang === "uk" ? "Системи з`єднувачів конвеєрної стрічки" : "Системы соединителей конвеерной ленты" }}</h2>
        <img class="slider__image" src="{{destination}}img/maintenance.jpg" width="300" height="300" alt="{{ lang === 'uk' ? 'Системи з`єднувачів конвеєрної стрічки' : 'Системы соединителей конвеерной ленты' }}">
      </a>
    </li>
    <li class="slider__item" data-index="2">
      <a class="slider__link" href="/">
        <h2 class="slider__text">{{ lang === 'uk' ? 'Мастильне обладнання' : 'Смазочное оборудование' }}</h2>
        <img class="slider__image" src="{{destination}}img/lubrication.jpg" width="300" height="300" alt="{{ lang === 'uk' ? 'Мастильне обладнання' : 'Смазочное оборудование' }}">
      </a>
    </li>
    <li class="slider__item" data-index="3">
      <a class="slider__link" href="/">
        <h2 class="slider__text">{{ lang === 'uk' ? 'Послуги зі стикування стрічки' : 'Услуги по стыковке ленты' }}</h2>
        <img class="slider__image" src="{{destination}}img/services.jpg" width="300" height="300" alt="{{ lang === 'uk' ? 'Послуги зі стикування стрічки' : 'Услуги по стыковке ленты' }}">
      </a>
    </li>
    <li class="slider__item" data-index="4">
      <a class="slider__link" href="/">
        <h2 class="slider__text">{{ lang === 'uk' ? 'Конвеєрні стрічки' : 'Конвеерные ленты' }}</h2>
        <img class="slider__image" src="{{destination}}img/belt.jpg" width="300" height="300" alt="{{ lang === 'uk' ? 'Конвеєрні стрічки' : 'Конвеерные ленты' }}">
      </a>
    </li>
  </ul>
</section>
